---
import Destacados from '../components/Destacados.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import Separador from '../../public/separador.jpg'
---

<Layout title="Gráfica Gerli - Servicios de Impresión">
	<Header />
	<!-- <img class="w-full scale-x-[-1]" src={Separador.src} alt="separador" /> -->
	<main>
		<Destacados />
		<Header />
	</main>
	<!-- <img class="w-full scale-y-[-1]" src={Separador.src} alt="separador" /> -->
</Layout>