---
import Layout from "../layouts/Layout.astro";
import Volantes from "../../public/volantes.webp";
import Footer from "../components/Footer.astro";
import Presupuesto from "../components/Presupuesto.astro";
---

<Layout title="Gráfica Gerli - Presupuesto">
	<!-- <img class="w-full scale-x-[-1]" src={Separador.src} alt="separador" /> -->
	<main class="py-16 relative pt-40">
		<!-- <div class="-z-10 w-32 sm:w-60 blur-[200px] h-60 rounded-full bg-blue-900 absolute pointer-events-none select-none top-80 right-0"></div>
		<div class="-z-10 w-20 sm:w-44 blur-[200px] h-44 rounded-full bg-blue-800 absolute pointer-events-none select-none top-10 left-16"></div>
		<div class="-z-10 w-20 sm:w-44 blur-[200px] h-44 rounded-full bg-blue-800 absolute pointer-events-none select-none top-[400px] left-0 sm:left-96"></div>
		<div class="-z-10 w-16 sm:w-36 blur-[200px] h-36 rounded-full bg-blue-800 absolute pointer-events-none select-none bottom-80 left-0 sm:left-40"></div>
		<div class="-z-10 w-16 sm:w-44 blur-[200px] h-44 rounded-full bg-blue-800 absolute pointer-events-none select-none bottom-60 right-0 sm:right-40"></div> -->
        <section class="w-2/4 m-auto flex flex-row gap-8">
            <article class="rounded overflow-hidden w-96 basis-1/2 aspect-[1/0.8] flex justify-center items-center">
                <img class="hover:scale-105 duration-200 hover:cursor-pointer" src={Volantes.src} alt="Volantes" />
            </article>
            <article class="basis-1/2 text-white flex flex-col gap-4">
                <h1 class="text-5xl font-bold text-yellow-100">Volantes</h1>
                <h2 class="text-2xl font-semibold">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero rerum numquam pariatur amet harum sequi eius ex laudantium ab.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, velit earum nihil, aut illo sequi dolore non harum ex amet eveniet quis eaque quo atque assumenda excepturi itaque quibusdam inventore.</p>
            </article>
        </section>
		<Presupuesto />
	</main>
	<Footer />
	<!-- <img class="w-full scale-y-[-1]" src={Separador.src} alt="separador" /> -->
</Layout>

<style>
	main {
		background: rgb(13,13,24);
		background: linear-gradient(0deg, rgb(16, 16, 16) 35%, rgb(10, 10, 10) 65%); 
		background-attachment: fixed;
		z-index: 1;
		height: 100%; 
        border-bottom: 1px solid rgb(39, 39, 61);
	}	
</style>