---
import Arrow from '../../public/iconos/arrow.svg'
const trabajos = ["Almanaques", "Afiches", "Tarjetas", "Etiquetas", "Volantes", "Boletas", "Carpetas Corporativas", "Hojas Membretadas", "Sobres Comerciales"]
---

<section class="text-center">
    <div class="grid grid-cols-2 xl:grid-cols-3 gap-3 justify-center px-16 w-full xl:w-4/5 mx-auto">
        {trabajos && trabajos.map((trabajo) => {
            return <a class="relative text-base xl:text-2xl"><p class="mx-10">{trabajo}</p><img class="absolute right-3 top-1 xl:top-3 scale-105" src={Arrow.src} /></a>
        })}
    </div>
</section>

<style>
    section a {
        padding: 5px;
        background: #26282c;
        color: white;
        font-weight: 500;
        border-radius: 10px;
        transition-duration: 200ms;
    }

    section a:hover {        
        cursor: pointer;
        background-color: #2f1d7f;
    }

    a:hover img {
        transform: rotate(-30deg);
    }
</style>