---
import DestCard from "./DestCard.astro";
import Volantes from "../../public/volantes.webp"
import Tarjetas from "../../public/tarjetas.webp"
import Boletas from "../../public/boletas.webp"
import Etiquetas from "../../public/etiquetas.webp"
---

<section class="w-full mt-40">
    <div class="px-4 sm:px-16 xl:px-24 py-4 flex flex-col items-center gap-12 sm:gap-20 mx-auto">
        <h1 class="text-3xl sm:text-5xl md:text-7xl font-semibold text-white text-center">Productos <span class="font-bold text-yellow-100">Destacados</span></h1>
        <div class="flex flex-row xl:justify-center gap-3 sm:gap-6 w-full xl:gap-8 2xl:gap-10 xl:w-[80%] overflow-x-scroll">
            <DestCard imagen={Volantes} titulo="Volantes"/>
            <DestCard imagen={Tarjetas} titulo="Tarjetas"/>
            <DestCard imagen={Boletas} titulo="Boletas"/>
            <DestCard imagen={Etiquetas} titulo="Etiquetas"/>
        </div>
    </div>
</section>