---
import Banner from "../../public/almanaques-banner-2.webp";
import BannerV from "../../public/almanaques-banner-v.webp"
---

<header class="h-auto md:h-[100dvh]">
    <article class="flex flex-col-reverse sm:flex-col sm:mt-10 items-center mx-auto gap-4 h-full">
        <img class="hidden sm:block" src={Banner.src} alt="Almanaques tipo de escritorio y de pared" />
        <img class="block sm:hidden" src={BannerV.src} alt="Almanaques tipo de escritorio y de pared" />
        <div class="text-center flex flex-col gap-4 mt-10 mx-6 sm:mt-0">
            <h1 class="text-white font-bold text-3xl sm:text-5xl">Almanaques publicitarios 2025!</h1>
            <h2 class="text-yellow-100 font-semibold text-xl smtext-2xl">Publicite su negocio con sus clientes con almanaques de escritorio, de pared o de bolsillo.</h2>
            <a class="py-2 px-3 sm:py-3 sm:px-5 border rounded border-red-800 text-white font-semibold text-lg sm:text-2xl mx-auto hover:cursor-pointer hover:bg-red-800 hover:border-red-950 duration-200">SABER MÁS</a>
        </div>
    </article>
</header>

<style>
    header {
        background: rgb(30,32,39);
        background: radial-gradient(circle, rgba(30,32,39,1) 7%, rgba(19,21,26,1) 36%); 
        top: 0;
        width: 100%;
        padding-top: 112px;
        padding-bottom: 50px;
    }
</style>