---
import Nav from '../components/Nav.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Nav />
		<slot />
	</body>
</html>
<style is:global>

	:root {
		--primary-color: black;
		--gradient-background-base: rgb(30,32,39);
		--gradient-background: radial-gradient(circle, rgba(30,32,39,1) 7%, rgba(19,21,26,1) 36%); 
		--primary-background: #0d0f14;
	}

	html {
		font-family: system-ui, sans-serif;
		/* background: #13151a; */
		background: var(--primary-background);
	}
</style>
